<div class="mat-container mat-elevation-z8">
 
  <div fxLayout fxLayoutAlign="center center">
    <mat-form-field fxFlex="40%">
      <input matInput type="text" (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>
   
    <mat-table #table [dataSource]="dataSource" matSort>
  
          
      
  
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  
    <mat-paginator #paginator
                   [pageSize]="20"
                   [pageSizeOptions]="[20, 50, 100]"
                   [showFirstLastButtons]="true">
    </mat-paginator>
  </div>
  